.page-home {

  h1 {

    svg {
      transform: translateY(.15em);
    }

  }

  .content {
    // border: solid black .01vw;
    // display: inline-block;
    // border-radius: 2%;
    height: 85vh;
    width: 100vw;
    margin-top: 10vh;
    // margin-top: -15vh;
  }

  .index-logo {
    height: 50vh;
    width: 40vw;
    // margin-top: 20vh;
  }

  .icon-container {
    width: 20vw;
    display: block;
    margin: 0 auto;

    .icons {
      // width: 80vw;
      display: flex;
      justify-content: space-around;
      color: #fff;
    }

  }


  @media only screen and (max-width: 1024px) {
    .index-logo {
      height: 50vh;
      width: 100vw;
      margin-top: 10vh;
    }

    .icon-container {
      width: 50vw;
      display: block;
      margin: 0 auto;
  
      .icons {
        // width: 80vw;
        display: flex;
        justify-content: space-around;
      }
  
    }

  }

}