.tools-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin-top: 2vh;
}

.tools-title {
  font-size: 3vh;
  margin-top: -30vh;
}

.tool-box-pic {
  height: 35vh;
  width: 25.5vw;
  border-radius: 100%;
  margin-top: 1vh;
}