.icon {
  height: 5vh;
  width: 3vw;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .icon {
    height: 15vh;
    width: 9vw;
    background-size: contain;
    background-repeat: no-repeat;
  }
}